.life-list {
    padding: 0 2% 0 2%;
    position: relative;
}

.life-list-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    gap: 1%;
}

.life-list-left h2 {
    text-align: left;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 105%;
    margin-bottom: 8px;
    width: fit-content;
    font-size: 20px;
}

.life-list-left {
    display: flex; 
    flex-direction: column;
    flex-grow: 6;
    flex-basis: 0;
}

.life-list-right {
    display: flex; 
    flex-direction: column;
    flex-grow: 4;
    flex-basis: 0;
    align-items: center;
}

.life-list-right h2 {
    text-align: center;
    width: fit-content;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 105%;
    margin-bottom: 8px;
    font-size: 20px;
}

.img-responsive {
    max-width: 100%;
    padding: 40px 0 40px 0;
}

.world-map {
    cursor: zoom-in;
    background-color: #abd5df;
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-lightbox {
    cursor: zoom-out;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.beeg-background {
    background-color: #333;
    opacity: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.beeg-world-map {
    background-color: #abd5df;
    width: 96%;
    position: absolute;
    z-index: 10000;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .4s;
}

.bird-link {
    color: #000;
    margin-right: 8px;
}

.bird-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bird-image {
    text-decoration: none;
    font-size: 16px;
}

.bird-link:hover {
    color: #717171;
}

.bird-table {
    max-height: 81vh;
    border-radius: 5px;
}

.life-list-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8px;
}

.life-list-header h2 {
    margin-right: 12px;
}

.search {
    max-width: 30ch;
    flex-grow: 1;
    flex-basis: 0;
    width: auto;
    margin-bottom: 4px;
    margin-bottom: 6px !important;
}

.bird-name,
.bird-date,
.bird-location {
    padding-left: 8px !important;
}

@media (max-width: 850px) {
    .life-list-header {
        align-items: center;
        flex-direction: column;
        padding-right: 0px;
        width: 100%;
    }

    .life-list-header h2 {
        margin: 0;
        font-size: 26px;
    }

    .search {
        width: 92%;
        max-width: 92%;
        text-align: center;
    }

    .life-list {
        padding: 0 2% 0 2%;
    }

    body {
        text-align: center;
    }

    .life-list-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .life-list-left h2 {
        text-align: center;
    }

    .life-list-left {
        display: flex; 
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .life-list-right {
        display: none;
    }

    .bird-table {
        max-height: 72vh;
        border-radius: 5px;
    }
}