.website-header {
  width: fit-content;
  margin: 24px 0;
  font-size: 42px;
  letter-spacing: 3px;
  cursor: pointer;
  margin-bottom: 4px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.website-header img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 12px;
  border-radius: 50%;
}

@media (max-width: 850px) {
  .website-header {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    flex-direction: column;
  }
}
